.App {
  background-image: url('../src/Assets/R&MMain.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.AboutBackground {
  background-image: url('../src/Assets/R&MAbout.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
