.StyledContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 15%;
  z-index: 20;
}

.NavButton {
  display: inline-block;
  background-color: #070647ac;
  cursor: pointer;
  border: none;
  padding: 16px 20px;
  margin: 1rem;
  width: fit-content;
  height: fit-content;
  color: azure;
  font-family: 'Barriecito', cursive;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}
.NavButton:hover {
  filter: brightness(1.5);
  transform: scale(1.5);
} 