 
  .neonText {
	color: white;
	font-family: 'Monoton', monospace;
	animation: neon1 1.5s ease-in-out infinite alternate;
	font-size: 2em;
	padding: 5%;
	margin-top: 5px;
	text-align: center;
	
  }
  

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF11A7, 0 0 70px #FF11A7, 0 0 80px #FF11A7, 0 0 100px #FF11A7, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF11A7, 0 0 35px #FF11A7, 0 0 40px #FF11A7, 0 0 50px #FF11A7, 0 0 75px #FF11A7;
  }
}

@keyframes layerupanim
{
	from {
		height: 140px;
	}
	to {
		height: 155px;
	}
}

@keyframes layercorneranim
{
	from {
		height: 400px;
	}
	to {
		height: 540px;
	}
}

.FavCards {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px; 
	color: white;
}
  
.SelectContainer {
	display: flex;
	width: 10%;
	margin-top: 1%;
	margin-left: 650px;
}
