/* .FavoriteContainer {

	background: radial-gradient(ellipse at center, rgba(127, 0, 173, 0.6) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 1) 90%),
	 url('../../Assets/R&MFavorites.jpeg');
  	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	height: 100%;
	font-size: 2em;	
	margin-top: 30px;

  } */
 
  .neonText {
	color: white;
	font-family: 'Monoton', monospace;
	animation: neon1 1.5s ease-in-out infinite alternate;
	padding: 10%;
	margin-left: 25%;
	margin-top: 5px;
	align-items: center;
	
  }
  
  /* .overlay {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	width: 50%;
	text-align: center;
  } */

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF11A7, 0 0 70px #FF11A7, 0 0 80px #FF11A7, 0 0 100px #FF11A7, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF11A7, 0 0 35px #FF11A7, 0 0 40px #FF11A7, 0 0 50px #FF11A7, 0 0 75px #FF11A7;
  }
}

@keyframes layerupanim
{
	from {
		height: 140px;
	}
	to {
		height: 155px;
	}
}

@keyframes layercorneranim
{
	from {
		height: 400px;
	}
	to {
		height: 540px;
	}
}

.FavCards {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px; 
}
  
.SelectContainer {
	display: block;
	width: 30%;
	height: 30%;
	padding: 20%;
	margin-top: 10px;
	margin-left: 345px;
}

.StyledContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.6);
	width: 100%;
	height: 15%;
	z-index: 20;
} 
