<!-- HTML file for the "/favorites" page -->
<!DOCTYPE html>
<html>
  <head>
    <title>Twinkling Night Sky</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="StyledFav.css">
  </head>
  <body>
    <div class="stars favorites-page"></div>
    <div class="twinkling favorites-page"></div> 
    <div class="clouds favorites-page"></div>
    <div class="title favorites-page">
    </div>
  </body>
</html>
