.App {
  
  background-image: url('../src/Assets/R&MMain.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}


